# Enable rewrite engine and route requests to framework
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php [L,QSA]

#Hide config file from world - return 404
#See http://goo.gl/yCXJM
RewriteCond %{REQUEST_URI} \.ini$
RewriteRule \.ini$ - [R=404]
