<div class="container">

    <h1>About Docket Minder</h1>

    <p>Docket Minder is an application designed for attorneys handling criminal cases in New Orleans.
    Once you register and type in your client’s case number, Docket Minder will check Orleans
    Parish’s Docket Master daily for updates to your client’s case.
    You will then receive an email highlighting the changes. Docket Minder can be
    viewed on both your computer and phone.</p>

    <p>Docket Minder was designed by third year law students Nicholas Zotti and Michael 
    Tassin of the Litigation and Technology section of Loyola Law Clinic in the 
    2013 Spring Semester.  The Litigation and Technology section is headed by 
    Assistant Clinical Professor Judson Mitchell and seeks to discover and implement
    new ways for lawyers to use technology in daily practice.</p>

    <p>For more about Loyola Law Tech and other student projects, visit <a href="http://loyolalawtech.org">loyolalawtech.org</a>.</p>

</div>
