<div class="container">

    <p class="lead">About DocketMinder</p>

    <p>DocketMinder is an application designed for attorneys handling criminal cases in New Orleans.
    Once you register and type in your client’s case number, DocketMinder will check Orleans
    Parish’s Docket Master daily for updates to your client’s case.
    You will then receive an email highlighting the changes. DocketMinder is optimized for viewing on your desktop
    computer, tablet, or phone.</p>

    <p>DocketMinder was designed by third year law students Nicholas Zotti and Michael 
    Tassin of the <a href="http://loyolalawtech.org" target="_new">Litigation and Technology section</a> of 
    the <a href="http://loyno.edu/lawclinic" target="_new"> Loyola Law Clinic</a> in the 2013 Spring Semester.
    The Litigation and Technology section is headed by Assistant Clinical Professor Judson Mitchell and seeks to discover and implement
    new ways for lawyers to use technology in daily practice. DocketMinder is open source software offered free of charge
    under the <a href="http://opensource.org/licenses/MIT" target="_new">MIT license</a>.  The source code
    is available on <a href="https://github.com/judsonmitchell/DocketMinder" target="_new">Github</a>.</p>

    <p>Project By:</p>
    <ul class="thumbnails">
        <li class="span2">  
            <div class="thumbnail">  
            <img class="img-rounded" src="{{ @BASE }}/ui/img/zotti.jpg">
                <div class="caption">
                    Nick Zotti<br />
                    <small>3L</small>
                </div>
            </div>
        </li>
        <li class="span2">  
            <div class="thumbnail">  
            <img class="img-rounded" src="{{ @BASE }}/ui/img/tassin.jpg">
                <div class="caption">
                    Michael Tassin<br />
                    <small>3L</small>
                </div>
            </div>
        </li>
        <li class="span2">  
            <div class="thumbnail">  
            <img class="img-rounded" src="{{ @BASE }}/ui/img/mitchell.jpg">
                <div class="caption">
                    Judson Mitchell<br />
                    <small>Asst. Clinical Professor</small>
                </div>
            </div>
        </li>
    </ul>

</div>
