<div class="container">
    <div class="row">
    <h3>{{ @SESSION.name }}'s DocketMinder</h3>
    </div>
    
    <div class="row">
    <a class="btn btn-success add"><i class="icon-plus-sign icon-white"></i>&nbspTrack a New Case</a>
    <form class="form-inline new-case" name="new_case">
        <input type="text" name="number" class="input-small" placeholder="Case No.">
        <input type="text" name="name"  class="input-medium" placeholder="Case Name" disabled=disabled >
        <a class="btn add_case" href="#"><i class="icon-ok-sign"></i> Add</a>
        <a class="btn cancel" href="#"><i class="icon-remove"></i> Cancel</a>
    </form>
    </div>
    <br />
    <div class="row">
    <p class="muted">We're curently tracking these cases for you:</p>
    <span class="table_ph">
        <table class="table table-striped table-hover">
            <thead>
                <tr><td>Case Number</td><td>Name</td><td class="hidden-phone">Date Tracked</td><td class="hidden-phone">Last Changed</td><td></td></tr>
            </thead>
            <tbody>
                <check if="{{ @CASES }}">
                <true>
                <repeat group="{{ @CASES }}" value="{{ @item }}">
                <tr>
                    <td><a href="{{ @item.url }}" target="_new">{{ @item->number }}</a></td>
                    <td>{{ @item.name }}</td>
                    <td class="hidden-phone">{{ date('n/j/Y g:i A', strtotime(@item.date_tracked)) }}</td>
                    <td class="hidden-phone">
                    {{ (@item.last_changed === '0000-00-00 00:00:00')?'-':date('n/j/Y g:i A', strtotime(@item.last_changed)) }}
                    </td>
                    <td><a class="btn btn-mini delete" href="#" data-id="{{ @item.id }}" ><i class="icon-trash"></i> Stop Tracking</a></td>
                </tr>
                </repeat>
                </true>
                <false>
                    <tr><td></td><td><p class="alert alert-info">No Cases Tracked Yet</p></td><td></td><td></td></tr>
                </false>
                </check>
            </tbody>
        </table>
    </span>
    </div>
</div>
