<div class="navbar navbar-inverse ">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{{ @BASE }}/">DocketMinder</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="{{ @BASE }}/about">About</a></li>
                    <check if="{{ @SESSION }}">
                        <true>
                            <li><a href="{{ @BASE }}/users/logout/">Logout</a></li>
                        </true>
                        <false>
                            <li><a href="{{ @BASE }}/users/logout/">Login</a></li>
                        </false>
                    </check>
                    <li><a href="mailto:judsonmitchell@gmail.com?subject=DocketMinder Beta">Beta Testers</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
