<div class="container">
    <div class="row">
        <div class="span4">
            <p class="help-text"><i class="icon-info-sign"></i> DocketMinder
            helps you follow the latest minute entries on the <a href="http://www.opcso.org/dcktmstr/dcktmstr.php">
            Orleans Criminal Court Docket Master</a>.  Just let us know what cases you're interested in
            and we'll send you an email whenever the docket changes. <a href="{{ @BASE }}/about">Learn more.</a></p> 
        </div>
        <div class="span4 ">
            <div class="well">
                <form class="form-horizontal" action="login_user" method="post">
                <h2>Please sign in</h2>
                    <check if="{{ @message }}">
                        <p><span class="label label-important">{{ @message }}</span></p>
                    </check>
                    <div class="control-group">
                        <input type="text" class="input-block-level required email" placeholder="Email" name="email">
                    </div>
                    <div class="control-group">
                        <input type="password" class="input-block-level required" placeholder="Password" name="password">
                    </div>
                    <div class="control-group">
                        <label class="checkbox">
                        <input type="checkbox" name="remember" value="remember-me" checked=checked> Remember me
                        </label>
                    </div>
                    <div class="control-group">
                        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
                    </div>
                    <div class="control-group">
                        <p><a href="signup">New Account</a>&nbsp|&nbsp<a href="request_reset">Forgot Password</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
