<div class="container">
    <form class="form-horizontal" action="../new_password_do" method="post">
    <h5>Please provide a new password</h5>
        <check if="{{ @message }}">
            <p><span class="label label-important">{{ @message }}</span></p>
        </check>
        <div class="control-group">
            <input type="password" class="input-large required" id="password" placeholder="New Password" name="password">
            <span class="help-inline"></span>
        </div>
        <div class="control-group">
            <input type="password" class="input-large required" id="confirm" placeholder="New Password Confirm" name="confirm">
            <span class="help-inline"></span>
        </div>
        <div class="control-group">
            <input type="hidden" name="reset_key" value="{{ @PARAMS.key }}">
            <button class="btn btn-large btn-primary">Reset Password</button>
        </div>
    </form>
</div>
